@font-face {
    font-family: DroidArabicKufi;
    src: url(../fonts/Droid-Arabic-Kufi.ttf);
    font-weight: normal;
  }
  
  @font-face {
    font-family: DroidArabicKufi;
    src: url(../fonts/Droid.Arabic.Kufi_.Bold_DownloadSoftware.iR_.ttf);
    font-weight: bold;
  }