$themes: (
    my_blue: (
        primary: #003266,
        primary_light: #004B99,
        primary_lighter: #3398FF,
        primary_highlight:#E6F2FF,
        my_white: #fff, 
    ),
    my_grey: (
        primary: #383838,
        primary_light: #4D4D4D,
        primary_lighter: #808080,
        primary_highlight: #F2F2F2,
        my_white: #fff,
    ),
    my_red: (
        primary: #990006,
        primary_light: #E62E36,
        primary_lighter: #FF595F,
        primary_highlight: #FFE6E7,
        my_white: #fff,
    )
);


