@font-face {
  font-family: "DroidArabicKufi";
  src: url(/fonts/Droid-Arabic-Kufi.ttf);
  src: url(/fonts/Droid.Arabic.Kufi_.Bold_DownloadSoftware.iR_.ttf);
}
html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
    min-width: 1920px;
    display: flex;
    margin: 0;
    height: 100%;
    font-family: Helvetica;
    overflow-y: scroll;
    overflow-x: scroll !important;
}

.side {
  width: 35%;
  padding: 20px 80px 40px 80px;
}

.logo_container {
  height: auto;
  width: auto;
  display: inline-block;
}

.logo_container > img {
  height: 150px;
}

.page_description {
  margin: 50px 0 50px 0;
  font-weight: bolder;
  font-size: 30pt;
}
.form_description_p {
  margin: 10px 0 10px 0;
  font-weight: lighter;
  font-size: 12pt;
}
.pass_reset_form {


}
.user_registration_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  grid-template-rows: auto;
  grid-row-gap: 15px;
  height: 550px;
}

.text_input {
  display: flex;
  grid-column: 1 / 3;
  align-items: center;
  height: 100%;
  border: 1px solid #999999;
  padding: 15px 20px 15px 20px;
}

.first_name {
  grid-column: 1 / 2;
}

.last_name {
  grid-column: 2 / 3;
}
.input_container label {
  margin: 0 0 0 0;
  color: #999999;
  font-size: 12pt;
  font-weight: lighter;
}
.input_container {
  width: 100%;
  height: auto;
}
.input_container label > input {
  font-size: 1vw;
  font-weight: lighter;
  border: none;
  outline: none;
  margin-top: 8px;
  width: 100%;
  height: 40px;
}

.btn {
  border: none;
  background: #333333;
  border-radius: 10px;
  width: 180px;
  height: 55px;
  font-size: 14pt;
  font-weight: bold;
  margin-top: 50px;
  outline: none;
  color: white;
}
.descriptive_paragraph {
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 12pt;
}

main {
  background-image: url("../images/backgroundOffices.png");
  background-color: #333333;
  background-blend-mode: multiply;
  width: 65%;
  background-repeat: no-repeat;
  background-size: 150%;
  padding: 50px 180px 50px 180px;
}
.navigation_tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.navigation_tabs > a {
  text-decoration: none;
  font-size: 18pt;
  font-weight: bold;
  color: white;
}
.navigation_tabs > a:hover {
  text-decoration: none;
  color: rgb(77, 77, 77);
}

a:nth-child(4) {
  font-family: "DroidArabicKufi";
  font-weight: bold;
}

.content_grid {
  margin: 180px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 59px;
  grid-row-gap: 150px;
  color: white;
}

.icon_div {
  display: flex;
  justify-content: left;
  align-items: center;
}
.icon_container {
  border: 2px solid white;
  height: 110px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.icon_container > img {
  height: 70px;
}

.content_cell > h3 {
  font-size: 32pt;
  font-weight: bold;
  margin: -7px 0 0 0;
}
.content_cell > p {
  margin: 12px 0 0 0;
  font-size: 14pt;
  font-weight: lighter;
}
