@import "./sass/theme_mixin.scss";
@import "./sass/font_faces.scss";
@import "./sass/secondary_colors_vars.scss";
@import "./sass/variables.scss";
@import "./sass/btn_styles.scss";
@import "./sass/typography.scss";

html,
body {
  margin: 0;
  height: 100%;
}
* {
  box-sizing: border-box;
}
body {
  overflow-y: scroll;
  .row {
    display: flex;
  }
  main {
    margin-left: 25vw;
    width: 75vw;
  }
}

.side {
  position: fixed;
  height: 100%;
  width: 25vw;
  @include themify($themes) {
    background: themed("primary_light");
  }
}
.user_row_container {
  display: flex;
  align-content: center;
  height: 130px;
  width: 100%;
  justify-content: center;
  .user_row {
    display: flex;
    align-items: center;
    width: auto; //check to see if width and height property defults values are auto
    height: auto;
  }
}

.user_row {
  .user_pic {
    height: auto;
    width: auto;
    img {
      height: 70px;
      width: 70px;
      border-radius: 50%;
    }
  }
  .user_name_div {
    @include themify($themes) {
      color: themed("my_white");
    }
    margin-left: 20px;
  }
}
.user_drop_list {
  padding: 15px 60px;
  @include themify($themes) {
    background: themed("primary");
  }
}


.side_list {
  margin-top: 50px;
  ul {
    li {
      .side_list_row {
        transition: background 150ms ease-in-out, border-left 150ms ease-in-out;
        &:hover {
          @include themify($themes) {
            background: themed("primary_lighter");
            border-left: 6px solid themed("my_white");
          }
        }
      }
    }
  }
}

.nav_menu {
  z-index: 2;
  background: white;
  position: fixed;
  display: flex;
  align-items: center;
  height: 130px;
  width: 75%;
  border-bottom: 1px solid;
  @include themify($themes) {
    border-color: themed("primary");
  }
  .nav_menu_content_div {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 80px;
  }
}
.search_bar_div {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  border-radius: 40px;
  border: 1px solid;
  padding: 5px;
  @include themify($themes) {
    border-color: themed("primary");
  }
}
.nav_menu_content_div {
  .navigation_a_links_div {
    margin-left: 35px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
}

.sub_nav {
  display: flex;
  align-content: center;
  margin-top: 130px;
  width: 100%;
  padding: 0 80px;

  .total_link {
    .total_link_div {
      width: auto;
      height: auto;
      padding: 15px;
      transition: background 200ms ease-in-out;
      &:hover {
        @include themify($themes) {
          background: themed("primary_highlight");
        }
      }
      div {
        display: flex;
      }
    }
  }
}

.rooms_cards_wrapper {
  @include themify($themes) {
    background: themed("my_white");
  }
  display: grid;
  padding: 0 80px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: auto;
  grid-gap: 30px;
  margin-top: 30px;
  padding-bottom: 30px;
}
.room_card {
  @include themify($themes) {
    background: themed("primary_light");
  }
  padding: 20px;
  .room_pic {
    img {
      width:100%
    }
  }
}
.room_details {
  margin-top: 20px;
  .room_status_container {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
  }
}

.room_booked {
  background: secondary_colors(my_blue);
}
.room_pending {
  background: secondary_colors(my_yellow);
}
.room_canceled {
  background: secondary_colors(my_red);
}
.room_confirmed {
  background: secondary_colors(my_green);
}

.booking_list_table_div_wrapper {
  padding: 30px 80px 30px 80px;
}

//table plugin customization
#table_id {
  thead {
    tr {
      line-height: 60px;
      th {
        text-align: left;
        // font-size: 14pt;
        width: 200px;
      }
    }
  }
}
table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
  border-top: none;
}
table.dataTable.display tbody tr.odd > .sorting_1,
table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: white;
}
table.dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3,
table.dataTable.display tbody tr > .sorting_1,
table.dataTable.display tbody tr > .sorting_2,
table.dataTable.display tbody tr > .sorting_3 {
  background-color: white;
}

table.dataTable.display tbody tr.even > .sorting_1,
table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background-color: white;
}
table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
  background-color: white;
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
  background-color: white;
}
.booking_list_table {
  border-collapse: collapse;
}

.booking_list_thead {
  border-bottom: 1px solid main_colors(primary);
}
.booking_list_thead th {
  height: 50px;
  // font-size: 14pt;
  // font-weight: $bold_font;
  padding-right: 75px;
}
.booking_list_tbody td {
  height: 100px;
  // font-size: 14pt;
  // font-weight: 100;
}

.booking_list_table th,
.booking_list_table td {
  padding-left: 15px;
  text-align: left;
}
.booking_list_tbody td:nth-child(3) {
  padding-right: 110px;
}
.booking_list_tbody td:nth-child(6) {
  padding: 0;
  // font-size: 12pt;
}

.booking_list_tbody > tr:nth-child(1) > td:nth-child(6) > div {
  @include themify($themes) {
    color: themed("my_white");
  }
  display: flex;
  background: secondary_colors(my_green);
  font-weight: $bold_font;
  width: 120px;
  height: 35px;
  align-items: center;
  justify-content: center;
}

tbody > tr:nth-child(2) > td:nth-child(6) > div {
  display: flex;
  @include themify($themes) {
    color: themed("my_white");
  }
  background: secondary_colors(my_yellow);
  font-weight: $bold_font;
  width: 120px;
  height: 35px;
  align-items: center;
  justify-content: center;
}
tbody > tr:nth-child(3) > td:nth-child(6) > div {
  display: flex;
  @include themify($themes) {
    color: themed("my_white");
  }
  background: secondary_colors(my_red);
  font-weight: $bold_font;
  width: 120px;
  height: 35px;
  align-items: center;
  justify-content: center;
}
tbody > tr:nth-child(4) > td:nth-child(6) > div {
  display: flex;
  @include themify($themes) {
    color: themed("my_white");
  }
  background: secondary_colors(my_blue);
  font-weight: $bold_font;
  width: 120px;
  height: 35px;
  align-items: center;
  justify-content: center;
}

tbody > tr:nth-child(4) > td:nth-child(6) > div {
  display: flex;
  @include themify($themes) {
    color: themed("my_white");
  }
  background: secondary_colors(my_blue);
  font-weight: $bold_font;
  width: 120px;
  height: 35px;
  align-items: center;
  justify-content: center;
}

tbody > tr:nth-child(5) > td:nth-child(6) > div {
  display: flex;
  @include themify($themes) {
    color: themed("my_white");
  }
  background: secondary_colors(my_green);
  font-weight: $bold_font;
  width: 120px;
  height: 35px;
  align-items: center;
  justify-content: center;
}

tbody > tr:nth-child(6) > td:nth-child(6) > div {
  display: flex;
  @include themify($themes) {
    color: themed("my_white");
  }
  background: secondary_colors(my_red);
  font-weight: $bold_font;
  width: 120px;
  height: 35px;
  align-items: center;
  justify-content: center;
}
tbody > tr {
  transition: background 200ms ease-in-out;
}

tbody > tr:hover {
  background: var(--primary_hightlight);
}

#calendar {
  margin-top: 160px;
  padding: 0 80px 30px 80px;
  z-index: 0;
}
.fc-today-button {
  background: var(--primary);
  border: 1px solid var(--primary);
  opacity: 1;
  color: white;
  text-shadow: none;
  font-weight: 600;
  width: 100px;
  box-shadow: none;
  transition: background 100ms ease-in-out;
}
.fc-today-button:active {
  background: white;
  color: var(--primary);
}

.fc-unthemed td.fc-today {
  background: var(--primary);
  color: white;
}
tbody > tr:hover {
  background: none;
}
.fc-day:hover {
  background: var(--primary_highlight);
}
.fc-basic-view .fc-day-number,
.fc-basic-view .fc-week-number {
  padding: 8px;
}
.fc-day-number {
  // font-size: 14pt;
  font-weight: bold;
}
.fc-day-header {
  padding: 10px !important;
}
th {
  color: white;
  background: var(--primary);
}
.fc-icon {
  color: white;
  transition: color 100ms ease-in-out;
}
:focus {
  outline: none;
}
.fc-button-group > button {
  @include themify($themes) {
    background: themed("primary");
  }
  box-shadow: none;
  text-shadow: none;
  transition: background 100ms ease-in-out, border-color 100ms ease-in-out;
}
.fc-button-group > button:active {
  background: white;
  @include themify($themes) {
    border-color: themed("primary");
  }
}

.fc-button-group > button:active .fc-icon {
  @include themify($themes) {
    border-color: themed("primary");
  }
}
